.product-card {
  position: relative;
  width: 350px;
  height: 480px;
  margin: 0 10px;
  margin-bottom: 30px;
  padding: 25px 20px;
  background: $white-color;
  color: black;

  &__info {
    h4 {
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 5px;
      text-transform: capitalize;
    }

    p {
      font-weight: 700;
      padding-bottom: 5px;

      span {
        font-weight: 400;
      }
    }
  }

  &__image {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      max-height: 200px;
      object-fit: contain;
    }
  }

  .button {
    position: absolute;
    bottom: 25px;
    color: #1e96d6;
  }
}
