@import './variables';
@import './components/Header/header.scss';
@import './components/NavBar/navBar.scss';
@import './components/ProductCard/productCard.scss';
@import './components/Category/categories.scss';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amazon Ember';
  background: #eaeded;
  color: $white-color;
}

.wrapper {
  position: relative;
}

.main-content-wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;

  .bottom-gradient {
    position: absolute;
    top: 100px;
    width: 1500px;
    height: 604px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent);
  }

  .products-list {
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
  }
}

.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
